@import url('https://fonts.googleapis.com/css2? family= Roboto & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_grid{
    max-width: 1200px;
    width: 90%;
    margin:0 auto;
}

h1{
    display: none;
}

header{
    background-color: #1E1C21;
    height: 80px;
}

.cabecalho_alinhamento{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.menu{
    width: 660px;
    display: flex;
    justify-content: space-between;
}

.menu a{
    font-family: 'Roboto', sans-serif;
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.menu a:hover{
    scale: 1.1;
}

.barras{
    display: none; 
}

.cabecalho_alinhamento svg{
    width: 30px;
    fill: #ffffff;
}







.banner{
    background-image: url(../img/ImagemBanner.png);
    height: 600px;
    background-size: cover ;
}

.posicao_texto{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.texto_banner{
    color: #ffffff;
    text-align: center;
}

.texto_banner span{
    font-size: 80px;
    font-family: 'Titillium Web', sans-serif;
}

.texto_banner p{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 80px;
}

.texto_banner a{
    color: #ffffff;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    background-color:#C31616;
    padding: 15px 32px;
    border-radius: 10px;
}






.secao_jogos{
    background-color: black;
    height:120px;
}
/*
.linha_jogos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}*/

.linha_jogos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap:wrap ;
    padding:30px 0;
}






.ofertas{
    background-color:#1E1C21;
    padding: 30px 0;
}

h2{
    color: #ffffff;
}

.secao_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    width:215px;
    margin: 20px;
    box-shadow: 0 0 10px #C31616;
    background: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
    color: #ffffff;
    padding-bottom: 10px;
}

.card a{
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 7px 38px;
    margin: 15px;
    background-color:#C31616;
    border-radius: 10px; 
}

.card *:not(:first-child){
    margin: 5px 10px;
}




footer{
    background-color: #010101;
}

.rodape{
    display: flex;
    justify-content: space-around;

}



.links_footer{
    display: flex;
    color: #ffffff;
}

.links_footer a{
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Titillium Web', sans-serif;
}

footer .box_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_logo .logo{
    height: 30px;
    width: 282px;
}

.info_contato{
    color: #ffffff;
}

@media screen and (max-width: 1200px) {
    .logo{
        width: 250px;
        margin-right: 20px;
    }
    
    .menu{
        width: 550px;
    }
    
    
    .menu a{
        font-size: 16px;
    }
    
}
@media screen and (max-width: 768px) {
    .cabecalho_alinhamento{
        position: relative;
    }
    
    .menu{
        display: none;
        flex-direction: column;
        width: 150px;
        position: absolute;
        right: 0;
        top: 70px;
        background-color: #000000dd;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0px opx 20px #000000;
    }

    .menu a{
        margin: 5px;
        text-align: end;
    }
    .barras{
        display: flex;
    }